.form-gap {
    padding-top: 70px;
}
.return-to-mainpage {
    text-decoration: underline;
    color: #888;
}
.return-to-mainpage:hover,
.return-to-mainpage:focus {
    text-decoration: underline;
    color: #666;
}
#nojavascript a {
    color: #fff;
    border-bottom: 2px dotted #fff;
}
#nojavascript {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 125%;
    font-size: 24px;
}