.form-gap {
    padding-top: 70px;
}
.return-to-mainpage {
    text-decoration: underline;
    color: #888;
}
.return-to-mainpage:hover,
.return-to-mainpage:focus {
    text-decoration: underline;
    color: #666;
}